<h1 class="d-flex justify-content-center mt-5">Todo List</h1>
<app-input (dataEvent)="receiveTheData($event)" (dataUpdated)="dataUpdated($event)"></app-input>
<!--  -->
<div class="container d-flex ">
  <select   (change)="filterData($event)">
    <option value="">All Categories</option>
        <option value="true" >true</option>
        <option value="false" >false</option>
  </select>
  <input type="text" class="form-control w-75 mx-auto" placeholder="search by name" [(ngModel)]="selectedValue" >
</div>

<!--  -->
<h1 class="d-flex justify-content-center mb-5">Action</h1>
<div class="container">
    <table class="table table-success table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col">id</th>
            <th scope="col">Completed</th>
            <th scope="col">title</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            @for(x of filter|search:selectedValue;track $index){
                <tr class="table-danger">
                    <td >{{x.id}}</td>
                    @if(x.completed == changestatus){
                      <td style="color:rgb(25, 0, 255);">{{x.completed}}</td>

                    }@else{
                      <td style="color:red;">{{x.completed}}</td>
                    }
                    <th scope="row" >{{x.title}}</th>
                    <th><button type="button" class="button btn btn-danger" (click)="Delete(index)">Delete</button></th>
                    <th><button type="button" class="button btn btn-success" (click)="update(x)">update</button></th>
                  </tr>               
            }
 
   
        </tbody>
      </table>
</div>
